<html>
    <center>
        

    
        <head>MARKSHEET</head>
        <TABLE border="1" width="70%">
            <tr><th><IMG src="/images/M2.png" width="75"></th><th><b><font size="6">HIGHER SECONDARY BOARDS EXAMNATION</font></b></th></tr>
        </TABLE><br>
        <table width="70%" >
            <caption><font SIZE="4">DETAILS</font></caption>
            <Tr align="left"><th align="left">SCHOOL NAME:<%=stn%></th></Tr>
            <tr align="left"><th align="left">STUDENT NAME:<%=sn%></th></tr>
            <tr align="left"><th align="left">GENDER:<%=ML%></th></tr>
            <tr align="left"><th align="left">ROLL NO:<%=rn%></th></tr>
            <tr align="left"><th align="left">DOB:<%=dob%></th></tr>
        </table>
        <table width="70%" cellspacing="2" bgcolor="yellow" border="1">
            <tr bgcolor="orange"><th>CODE</th><th>SUBJECT</th><th>MAX</th><th>MIN</th><th>MARKS OBTAIN</th><th>REMARKS</th></tr>
            <tr><td>001</td><td>HINDI</td><td>100</td><td>35</td><td><%=H%></td><td><%=H1%></td></tr>
            <tr bgcolor="white"><td>002</td><td>ENGLISH</td><td>100</td><td>35</td><td><%=E%></td><td><%=H2%></td></tr>
            <tr><td>003</td><td>MATHS</td><td>100</td><td>35</td><td><%=M%></td><td><%=H3%></td></tr>
            <tr bgcolor="white"><td>004</td><td>PHYSICS</td><td>100</td><td>35</td><td><%=P%></td><td><%=H4%></td></tr>
            <tr><td>005</td><td>CHEMISTRY</td><td>100</td><td>35</td><td><%=C%></td><td><%=H5%></td></tr>
            <TR bgcolor="white"><th>&nbsp;</th><th>&nbsp;</th><th>500</th><th>&nbsp;</th><th>TOTAL:<%=to%></th><th>&nbsp;</th></TR>
            <tr bgcolor="white"><TH align="left" colspan="2">PERCENTAGE:<%=PR%>%</TH><TH align="left" colspan="5">RESULT:<%=RST%></TH></tr>
        </table>
    </center>
    
</html>